@model List<CNAs>

<body style="background-image: url(https://cutewallpaper.org/21/1920-x-1080-gif/Animated-GIFs-Animation-on-Behance.gif); background-repeat: no-repeat; background-size: cover; ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Doctors">Doctors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nurses">Nurses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CNAs">CNAs</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="table-responsive">
        @foreach (var item in Model)
        {


            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @Html.DisplayFor(ModelItem => item.ID)
                    </li>
                    <li class="list-group-item">@Html.DisplayFor(ModelItem => item.Name)</li>
                    <li class="list-group-item">@Html.DisplayFor(ModelItem => item.Department)</li>
                    <li class="list-group-item">Floor: @Html.DisplayFor(ModelItem => item.Floor)</li>
                    <li class="list-group-item">SSN: @Html.Raw("\u2022\u2022\u2022\u2022\u2022")</li>
                    <li class="list-group-item"><a asp-action="CNAs_Edit" class="btn btn-primary" asp-route-id="@item.ID">Change</a></li>
                    <li class="list-group-item"><a asp-action="CNAs_Details" class="btn btn-dark" asp-route-docid="@item.ID">View Details</a></li>
                    <li class="list-group-item"><a asp-action="CNAs_Fire" class="btn btn-warning" asp-route-id="@item.ID">Fire</a></li>
                </ul>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <br />
        }





    </div>
</body>